<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    </link>
</head>

<body>
    <nav class="navbar navbar-default" style="background: rgba(0,0,0,.7);">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">我的博客</a>
            </div>
            <div>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="/">首页</a>
                    </li>&nbsp;

                    <%if(user){%>
                    <li class="nav-item">
                        <a href="/user/signout">退出</a>
                    </li>&nbsp;
                    <li class="nav-item">
                        <a href="/article/add">发表文章</a>
                    </li>
                    <%}else{%>
                    <li class="nav-item">
                        <a href="/user/signup">注册</a>
                    </li>&nbsp;
                    <li class="nav-item">
                        <a href="/user/signin">登录</a>
                    </li>&nbsp;
                    <%}%>      
                </ul>
                <!-- 头像 -->
                <%if(user){%>
                    <ul class="nav nav-right">
                        <li>
                            <a href="">
                                <img src="<%=user.avatar%>" alt="" style="width: 40px;height: 40px;border-radius: 50%;"/>
                                <%=user.username%>
                            </a>
                        </li>
                    </ul>
                <%}%>
            </div>
        </div>
    </nav>

    <div class="container"></div>
    <%if(success){%>
        <div class="alert alert-success">
            <%=success %>
        </div>
    <%}%>
    <%if(error){%>
        <div class="alert alert-error">
            <%=error %>
        </div>
    <%}%>
  
    